.info {
    padding: 40px;
    width: 70%;
    margin: 0 auto;
    &__title {
        font-size: 22px;
        line-height: 21px;
        margin: 0;
    }
    &__subtitle {
        margin-top: 15px;
        font-size: 18px;
        font-weight: normal;
    }
    &__address,
    &__price {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
    }
    &__wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    &__descr {
        margin-top: 30px;
    }
}

.map__wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 500px;
}

.swiper-container {
    width: 70%;
    height: 600px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .swiper-container {
        width: 100%;
        height: 450px;
    }
}

@media (max-width: 992px) {
    .swiper-container {
        width: 70%;
        height: 400px;
    }
    .info {
        width: 100%;
    }
    .map__wrapper {
        height: 350px;
    }
}

@media (max-width: 768px) {
    .swiper-container {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 576px) {
    .swiper-container {
        height: 250px;
    }
    .info {
        padding: 20px 10px;
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 14px;
            margin-top: 5px;
        }
        &__wrapper {
            margin-top: 15px;
            flex-direction: column;
        }
        &__price {
            margin-top: 10px;
        }
        &__descr {
            margin-top: 15px;
        }
    }
    .map__wrapper {
        height: 250px;
    }
}
