.premium {
    &__item {
        padding: 20px;
        border-radius: 20px;
        background-color: rgb(238, 238, 238);
        width: 250px;
        min-height: 270px;
        margin: 30px;
    }
    &__img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__price {
        margin-top: 15px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 16px;
    }
    &__descr,
    &__adress {
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        width: 100px;
        height: 30px;
        color: #fff;
        background-color: #83b5ff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s background-color;
        &:hover {
            background-color: #5999f8;
        }
    }
    &__ads {
        width: 30px;
        height: 30px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .premium {
        &__item {
            margin: 15px;
        }
    }
}
