.city__item {
    width: 200px;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s all;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:hover,
    &:focus {
        transform: translateY(-3px);
    }
    p {
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
        line-height: 21px;
        color: #ffffff;
        -webkit-text-stroke: 1px #000;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .city__item {
        width: 180px;
        height: 230px;
    }
}

@media (max-width: 768px) {
    .city__item {
        margin: 20px;
    }
}
