.map__wrapper {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 500px;
}

@media (max-width: 992px) {
    .map__wrapper {
        height: 350px;
    }
}

@media (max-width: 576px) {
    .map__wrapper {
        height: 250px;
    }
}
